{{>header}}
<body>
    <div class="container">
        <div class="jumbotron">
        <h1 class="display-4" style="text-align:center">Customer Dashboard</h1>
        <hr class="my-4">
            <div style="text-align:center">
                <a class="btn btn-dark btn-lg" href="/logout" role="button">Logout</a>
                <p style="margin-top:7px;">Want to logout?</p>
            </div>
        </div>

        {{ #user }}
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="fullname">Full Name</label>
                    <input type="text" class="form-control" value="{{ fullname }}" readonly>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="email">Email Address</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend3">@</span>
                        </div>
                        <input type="text" class="form-control" value="{{ email }}" aria-describedby="inputGroupPrepend3" readonly>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <form action="/updateCustomer" style="width:100%;" method="post">
                    <div class="col-md-3 mb-3">
                        <input type="text" name="customerID" class="form-control" value="{{ customerID }}" hidden>
                        <label for="password">Password</label>
                        <input type="text" name="password" class="form-control" value="{{ password }}">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="birthdate">Birth Date</label>
                        <input type="date" name="birthdate" class="form-control" value="{{ birthdate }}">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="phone">Phone Number</label>
                        <input type="tel" name="phone" class="form-control" value="{{ phone }}">
                    </div>
                    <div class="col-md-2 mb-3">
                        <input class="btn btn-primary" value="Save Changes" type="submit">
                    </div>
                </form>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="phone">Subscription Type</label>
                    <input type="text" class="form-control" value="{{ subscription }}" readonly>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="phone">Change Subscription</label>
                    <a href="/update" class="btn btn-primary">Update Subscription</a>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="phone">Delete Subscription</label>
                    <form action="/delete" method="POST">
                        <input class="btn btn-danger" value="Delete Subscription" type="submit">
                    </form>
                </div>
            </div>
        {{ /user }}
    </div>
</body>
</html>
