{{>header}}
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Payment Processing with Stripe</h1>
      <p class="lead">Uses a payment processing system to manage and charge users. Use a template engine and sessions. Create user and admin interfaces</p>
      <hr class="my-4">
      <p>It utilizes Stripe Payment Portal and Twilio for sending text messages.</p>
      <a class="btn btn-light btn-lg" href="/login" style="margin-right:30px" role="button">Login</a>
      <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
    </div>
  </div>
</body>
</html>